@font-face {
    font-family: 'OpenSans-Light';
    src: url('/OpenSansFonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

p {
  font-size: 1000;
  font-family: system-ui;
}
body{
  background-color: white;
  font-family: system-ui;
  margin: 10px 60px 10px;
}
.compact {
  margin: 10px 40px 10px;
}
